# Idea / PyCharm
.idea/

# files from the mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Project dependant
output/
assets/images/friends/000007.jpg
assets/images/friends/000010.jpg
assets/images/friends/000011.jpg
assets/images/friends/000329.jpg
assets/images/friends/000332.jpg
assets/images/friends/003307.jpg
